<footer class="footer">
<small>
   <a href="http://localhost:3001/">BachesTj</a>
   by frncscgmz
</small>
<nav>
<ul>
   <li><%= link_to "Acerca de BachesTj",   about_path %></li>
</ul>
</nav>
</footer>
